<!--Kristofer McCormick 1803203-->
<ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    <ion-buttons slot="start">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/tab3" text="Skills"></ion-back-button>
          </ion-buttons>
      </ion-buttons> 
      <!--Log out button-->  
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-title class="txtcenter">CV</ion-title>
  </ion-toolbar>

<ion-content>
    <img class="img" src="/assets/CV.jpg" alt="" />
</ion-content>
