<!--Kristofer McCormick 1803203-->
<ion-toolbar color="dark">

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <!--Log out button-->  
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-title class="center">Contact</ion-title>
  </ion-toolbar>
<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">


  

              <ion-button size="small" expand="block" shape="round" color="dark">
                Email
              </ion-button>
              <br>


                kris@infinityhorizon.co.uk

              <br>
              <br>

                  <ion-button size="small" expand="block" shape="round" color="dark">
                    Phone
                  </ion-button>
                  <br>


                    +358456101645

                  <br>
     
                  <ion-button size="small" expand="block" shape="round" color="dark">
                      Contact form
                    </ion-button>
                    <br>
  
  

  
                    <br>

  
