<!--Kristofer McCormick 1803203-->
<ion-toolbar color="dark">

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <!--Log out button-->  
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>

    <ion-title>Portfolio</ion-title>
  </ion-toolbar>
<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">

      <!-- Logo -->
<ion-card>
<ion-card-content>

</ion-card-content>
</ion-card>
  
