<!--Kristofer McCormick 1803203-->
<ion-toolbar color="dark">

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <!--Log out button-->  
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-title class="center">Skills</ion-title>
  </ion-toolbar>
<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">

        <ion-button expand="block" shape="round" color="dark">Ionic projects</ion-button>
        <br><br>

        <ion-button expand="block" size="small" shape="round" color="primary" href="https://github.com/kristofermc/Labwork-8-9">
          <div class="text1">uFoodie</div>
        </ion-button>
        <br>
            <img class="img" src="/assets/portfolio/uFoodie.gif" alt="" />
            <br><br><br>
            uFoodie was designed with the food lover in mind, offering an all inclusive package <br>
            to saving time and keeping on track with your tasks. Fully funtional timers, custom <br>
            recipe, images database and featured recipe list! <br><br>
            Best yet, the chef doesnt have to juggle
            many apps, uFoodie has it all!
            <br><br><br>
            <ion-col size="6" offset="3">  
              <ion-button size="small" shape="round" color="primary" href="https://github.com/kristofermc/Labwork-8-9">
                <ion-icon name="logo-github"></ion-icon>
                Download
                </ion-button>
                </ion-col>
<br><br><br>

<img class="img" src="/assets/log in and out.gif" alt="" />
<ion-button expand="block" size="small" shape="round" color="primary" href="https://github.com/kristofermc/Labwork-8-9">
  uFoodie
</ion-button>
<br><br>

uFoodie was designed with the food lover in mind, offering an all inclusive package to saving time and keeping on track with your tasks. Fullly funtional timers, custom recipe, images database and featured recipe list! Best yet, the chef doesnt have to juggle many apps, uFoodie has it all!
<br><br><br>
<ion-col size="6" offset="3">  
  <ion-button size="small" shape="round" color="primary" href="https://github.com/kristofermc/Labwork-8-9">
    <ion-icon name="logo-github"></ion-icon>
    Download
    </ion-button>
    </ion-col>
<br><br><br>

<img class="img" src="/assets/log in and out.gif" alt="" />
<ion-button expand="block" size="small" shape="round" color="primary" href="https://github.com/kristofermc/Labwork-8-9">
  uFoodie
</ion-button>
<br><br>

uFoodie was designed with the food lover in mind, offering an all inclusive package to saving time and keeping on track with your tasks. Fullly funtional timers, custom recipe, images database and featured recipe list! Best yet, the chef doesnt have to juggle many apps, uFoodie has it all!
<br><br><br>
<ion-col size="6" offset="3">  
  <ion-button size="small" shape="round" color="primary" href="https://github.com/kristofermc/Labwork-8-9">
    <ion-icon name="logo-github"></ion-icon>
    Download
    </ion-button>
    </ion-col>
<br><br><br>





