<!--Kristofer McCormick 1803203-->
<ion-toolbar color="dark">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <!--Log out button-->  
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>
    <ion-title class="txtcenter">About</ion-title>
  </ion-toolbar>
<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">

      <!-- Logo -->
   <h1 class="fw900" class="larger" class="center">Kristofer<br>Juhani<br>McCormick</h1>
   <br><br>
   <!-- Profile photo -->
<div class="center">
        <img src="/assets/profilepic.jpg" alt="" />
      </div>
      <br><br>
      <ion-button expand="block" shape="round" color="dark">Full-stack Developer</ion-button>
      <!-- About section centered for scalability -->
<br>
<p class="center">Hello and welcome to my CV app! <br><br>
I am an enthusiastic and hard working young man looking for work in the IT field. <br><br>

Currently, I am studying a Bachelors Degree in Business Information Technology, at 
Laurea University of Applied Sciences. My focus is on coding and development. 
I very much enjoy to roll my sleeves up and dive deep in to technology. <br><br>

I have very much enjoyed working on designing websites, mobile apps and 
working with Python, C and C++. It feels very satisfying to know how things 
work and what could be done to improve things. I am very enthusiastic about 
developing my skill set and learning new things, regardless of the hardships!<br><br>

My intention is to keep this first page rather casual, as a get to know me on 
a little more of a personal level. However, you will find all knds of relevant 
information throughout this app! If we start chronologically: My covering letter, 
Portfolio (Mobile app design, Web design and Audio), Skills and attributes 
(including attached CV at the bottom of the page) and finally, contact details 
with a fully functioning contact form, where feedback or interviews can be 
easily scheduled! Navigation, ease of use and a modern/ easy to look at appeal was the 
core idea with the development of this App.
</p>
<br>
<ion-button expand="block" shape="round" color="dark">More about me</ion-button>
<br><br><p class="center">
I am currently living in the Espoo region, close to Helsinki, roughly 5 years
ago, I had graduated from a Music Technology Bachelors Degree and decided to 
further my career prospects by moving to Finland. I was raised in a English-Finnish 
family, in Salisbury, Southern England (very near Stonehenge!). I have always been 
very technologically focused and always wanting to understand and experience new things. 
Team work is something I very much value and enjoy, consistent and inspiring employment 
is something I am looking for right now and this is exactly why I have applied to 
the job opening you have!</p><br><br>

<ion-button expand="block" shape="round" color="dark">Interests</ion-button>
<br><br>
<!-- Interests in button form for extra visual appeal -->
<ion-grid>
    <ion-row>

    <ion-col size="6">
      <ion-button size="small" expand="block" shape="round" color="secondary">
          Learning
      </ion-button>
    <br>
    </ion-col>

      <ion-col size="6">
      <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
          Technology
      </ion-button>
      <br>
    </ion-col>

    <ion-col size="6">
        <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
            Acoustics
        </ion-button>
        <br>
      </ion-col>

      <ion-col size="6">
          <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
              Music
          </ion-button>
          <br>
        </ion-col>

        <ion-col size="6">
            <ion-button size="small" expand="block" shape="round" color="secondary">
                Fishing
            </ion-button>
          <br>
          </ion-col>
      
            <ion-col size="6">
            <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                Golf
            </ion-button>
            <br>
          </ion-col>
      
          <ion-col size="6">
              <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                  Billiards
              </ion-button>
              <br>
            </ion-col>
      
            <ion-col size="6">
                <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Ice Hockey
                </ion-button>
                <br>
              </ion-col>

        <ion-col size="6">
            <ion-button size="small" expand="block" shape="round" color="secondary">
                Sauna
            </ion-button>
          <br>
          </ion-col>
      
            <ion-col size="6">
            <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                Socialising
            </ion-button>
            <br>
          </ion-col>
      
          <ion-col size="6">
              <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                  Experiences
              </ion-button>
              <br>
            </ion-col>
       
            <ion-col size="6">
                <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Exploring
                </ion-button>
                <br>
              </ion-col>

            <ion-col size="6">
                <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Culture
                </ion-button>
                <br>
              </ion-col>
              
        <ion-col size="6">
            <ion-button size="small" expand="block" shape="round" color="secondary">
                Cuisine
            </ion-button>
          <br>
          </ion-col>
              
    </ion-row>
    </ion-grid>
  <!-- Workspace details -->
    <br><br>
    <ion-button expand="block" shape="round" color="dark">My workspace</ion-button>
    <br><br>
    <div class="center">
      <img src="/assets/desk.jpg" alt="" />
      </div>
      <br><br><p class="center">
        Here is where I spend most of my time working, I have made a very nice and ambiently lit space 
        which is easy on the eyes and the long days are much easier due to this. Due to the vastly different 
        types of projects I tend to work on, the desk is kitted out with professional recording equipment! 
        I am also currently using OSX primarily, however some projects are easier to work with Windows 10, 
        so I have that natively installed. Linux is also around, though virtualised for now as I continue to learn!
      </p><br><br>
