<!--Kristofer McCormick 1803203-->
<ion-toolbar color="dark">

    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
      <!--Log out button-->  
<ion-buttons slot="end">
  <ion-button (click)="logout()">
    <ion-icon slot="icon-only" name="ios-power"></ion-icon>
  </ion-button>
</ion-buttons>
<!-- Top title -->
<ion-title class="txtcenter">Skills</ion-title>
  </ion-toolbar>
<ion-content padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">
<!-- Title button -->
        <ion-button expand="block" shape="round" color="dark">Programming</ion-button>
        <br>

        <ion-grid>
          <ion-row>
<!-- Grid rating skills -->
          <ion-col size="6">
            <ion-button size="small" expand="block" shape="round" color="secondary">
              Python
            </ion-button>
            <br>
            <div color="tertiary" class="center">
            <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
          </div>
          <br>
          </ion-col>

            <ion-col size="6">
            <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
              C++
            </ion-button>
            <br>
            <div class="center">
              <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
            </div>
            <br>
          </ion-col>

          <ion-col  size="6">
            <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
              C
            </ion-button>
            <br>
            <div class="center" color="">
              <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
            </div>
            <br>
          </ion-col>

          <ion-col  size="6">
              <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                Java
              </ion-button>
              <br>
              <div class="center" color="">
                <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
              </div>
              <br>
            </ion-col>

            <ion-col  size="6">
                <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                  SQL
                </ion-button>
                <br>
                <div class="center" color="">
                  <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                </div>
                <br>
              </ion-col>

              <ion-col  size="6">
                  <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Swift
                  </ion-button>
                  <br>
                  <div class="center" color="">
                    <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                  </div>
                  <br>
                </ion-col>

                <ion-col  size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      HTML
                    </ion-button>
                    <br>
                    <div class="center" color="">
                      <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>

                  <ion-col  size="6">
                      <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                        CSS
                      </ion-button>
                      <br>
                      <div class="center" color="">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                      </div>
                      <br>
                    </ion-col>

                    <ion-col  size="6">
                        <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                          Java-Script
                        </ion-button>
                        <br>
                        <div class="center" color="">
                          <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                        </div>
                        <br>
                      </ion-col>

                      <ion-col  size="6">
                          <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                            Typescript
                          </ion-button>
                          <br>
                          <div class="center" color="">
                            <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                          </div>
                          <br>
                        </ion-col>

          </ion-row>
          </ion-grid>
              <ion-button expand="block" shape="round" color="dark">Operating systems</ion-button>
              <br>
    
              <ion-grid>
                  <ion-row>
        
                  <ion-col size="6">
                    <ion-button size="small" expand="block" shape="round" color="secondary">
                      OSX
                    </ion-button>
                    <br>
                    <div color="tertiary" class="center">
                    <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                  </div>
                  <br>
                  </ion-col>
                          
                  <ion-col size="6">
                      <ion-button size="small" expand="block" shape="round" color="secondary">
                        iOS
                      </ion-button>
                      <br>
                      <div color="tertiary" class="center">
                      <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                    </ion-col>

                    <ion-col size="6">
                        <ion-button size="small" expand="block" shape="round" color="secondary">
                          Windows
                        </ion-button>
                        <br>
                        <div color="tertiary" class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                      </div>
                      <br>
                      </ion-col>
        
                    <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Android
                    </ion-button>
                    <br>
                    <div class="center">
                      <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                    </div>
                    <br>
                  </ion-col>

                          
                  <ion-col size="6" offset="3">
                      <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                        Linux
                      </ion-button>
                      <br>
                      <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                      </div>
                      <br>
                    </ion-col>
           
                  </ion-row>
                  </ion-grid>

          <ion-button expand="block" shape="round" color="dark">Languages</ion-button>
          <br>

          <ion-grid>
              <ion-row>
    
              <ion-col size="6">
                <ion-button size="small" expand="block" shape="round" color="secondary">
                  English
                </ion-button>
                <br>
                <div color="tertiary" class="center">
                <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
              </div>
              <br>
              </ion-col>
    
                <ion-col size="6">
                <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                  Finnish
                </ion-button>
                <br>
                <div class="center">
                  <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                </div>
                <br>
              </ion-col>
       
              </ion-row>
              </ion-grid>

          <ion-button expand="block" shape="round" color="dark">General</ion-button>
          <br>

          <ion-grid>
              <ion-row>
    
              <ion-col size="6">
                <ion-button size="small" expand="block" shape="round" color="secondary">
                  Willingness to learn
                </ion-button>
                <br>
                <div color="tertiary" class="center">
                <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
              </div>
              <br>
              </ion-col>
    
                <ion-col size="6">
                <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                  Learning speed
                </ion-button>
                <br>
                <div class="center">
                    <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                </div>
                <br>
              </ion-col>
                  
              <ion-col size="6">
                  <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Communication
                  </ion-button>
                  <br>
                  <div class="center">
                      <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                  </div>
                  <br>
                </ion-col>
                                  
              <ion-col size="6">
                  <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Attention to detail
                  </ion-button>
                  <br>
                  <div class="center">
                      <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                  </div>
                  <br>
                </ion-col>  
                                                  
              <ion-col size="6">
                  <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                    Determination
                  </ion-button>
                  <br>
                  <div class="center">
                      <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                  </div>
                  <br>
                </ion-col>   

                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Timeliness
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>
                                      
                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Cleanliness
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>

                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Attitude
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>  

                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Team work
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>
                                                        
                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Individual work
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>
                                                                      
                  <ion-col size="6">
                      <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                        Social
                      </ion-button>
                      <br>
                      <div class="center">
                          <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                      </div>
                      <br>
                    </ion-col>
                                                                  
                  <ion-col size="6">
                      <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                        Public speaking
                      </ion-button>
                      <br>
                      <div class="center">
                          <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon><ion-icon color="tertiary" name="ios-star-outline"></ion-icon>
                      </div>
                      <br>
                    </ion-col>
                                                                                              
                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Friendliness
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    <br>
                  </ion-col>
                                                                                                                
                <ion-col size="6">
                    <ion-button size="small" expand="block" class="center" shape="round" color="secondary">
                      Understanding
                    </ion-button>
                    <br>
                    <div class="center">
                        <ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon><ion-icon color="tertiary" name="ios-star"></ion-icon>
                    </div>
                    
                  </ion-col>
       
              </ion-row>
              </ion-grid>
<br>
<!-- Link leads to CV page -->
<ion-button expand="block" shape="round" color="primary" [routerLink]="['/cv']">Click to view full CV</ion-button>
