// Kristofer McCormick 1803203
// background colours
:host {
    ion-content {
        --background: rgb(0,0,0);
        --background: linear-gradient(180deg, rgba(0,0,0,1) 71%, rgba(9,11,56,1) 81%, rgba(17,53,82,1) 100%, rgba(76,106,255,1) 100%);
    }
}
// text center
.txtcenter {
    text-align: center;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
      
}
